workspace/
eclipse/
*~
~*
*.swp
*.bak
*.pyc
*.sqlite3
python/
media/
build/
dist/
django_pre_post.egg-info/

collected_static/
local_settings.py
static/website/

# Vagrant stuff
.vagrant
*.log

.coverage
